:root {
    --color-bg: #ced0e0;
    --color-txt: #1c1351;
    --color-acct: #7A89Ff;
}
* {
    box-sizing: border-box;
}
img {
    border: solid white 3px;
    border-radius: 50px;
    min-height: 25px;
    min-width: 25px;
    max-width: 100%;
    height: auto;

}
main {
    margin: 0 auto;
    padding: 10px;
    max-width: 70ch;
    background-color: var(--color-bg);
}



nav {
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darkslategray;


}

nav a:hover{
    background: #7ADEFF;
}

.link-container{
    display :flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 45px;
    padding: 5px;

}
 header p {
    text-align: center;
    font-size: xx-large;
    text-decoration: solid;
    color: whitesmoke;
 }

.nav-list{
    list-style: none;
    display: inline-block;

}
h1{

    text-align: center;
    text-decoration: solid;

}
[aria-current="page"]{
    background-color: #C17AFF;
}
h2{

    font-size: xx-large;

}
h3{
    text-align: center;
    font-size: x-large;
}
h4{

    font-size: large;
    text-decoration: underline;
    margin-bottom: 0px;

}
p {
    text-align: left;
    margin-top: 15px;
}
nav a{
    background: var(--color-acct);
    border: 2px solid white;
    border-radius: 5px;
    color: black;
    display: inline-block;
    text-align: center;
    min-width: 60px;
    padding: 3px;
    text-decoration: none;
    margin: 0;
    transition: ease-in-out 300ms;
}

header{
    border: var(--color-acct) solid 5px;
    background-color:darkslategrey;

    text-align: center;


}
ul{
    padding: 0px;
    margin: 0px;
}

*:focus-visible {
    outline: red dotted 5px;
}
body{
    background-color: var(--color-bg);
    color:var(--color-txt);
    font-size: 1.125rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding-bottom: 60px;
}
@media (min-width: 700px) {
    body{
        padding-bottom: 0%;
    }
    header{
        position: sticky;
        top:0%;
        z-index: 10;
    }
    nav{
        position: static;
        height: 45px;
    }

}