.image-container{
    display:flex;
    justify-content: space-evenly ;
    flex-wrap: wrap;
    margin-top: 10px;


}

figure {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 0;
    flex-basis: 250px;
    }

figcaption {
    text-align: center;
    font-size: large;
}

video {
    border: solid white 3px;
    border-radius: 50px;
    min-height: 25px;
    min-width: 25px;
    max-width: 100%;
    height: auto;
}
